<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CMScreenshot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1858C6921DA5FBCB00E3457C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1858C6A61DA5FBCB00E3457C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1858C6B11DA5FBCC00E3457C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
